.RoomSelect
    &__Rooms
        width: 70vw
        display: flex
        flex-direction: column
        margin: 3rem auto
        border-radius: 0.5rem
        border: 2px solid black
        font-size: 3vw

        &__usernameInput
            display: flex
            justify-content: space-between

            p
                margin: auto

            input
                font-size: 3vw
                height: 6vw
                text-align: center
                width: 60%

        &-item
            min-height: 5rem
            display: flex
            flex-wrap: wrap
            justify-content: center
            align-items: center
            cursor: pointer

            &:not(:nth-last-child(2))
                border-bottom: 2px solid black

            &:last-child
                border: none

            &__delete
                color: red
                margin-left: 5rem

            &.NewRoom
                background-color: lightgray

        &--noRooms
            height: 5rem
            display: flex
            align-items: center
            justify-content: center

    &__Error
        font-size: 1rem
        color: salmon


